#challengingPokemon {
    position:absolute;
    left: 20%;
    top: 20%;
}

#yourPokemon {
    position:absolute;
    right: 20%;
    top: 20%;
}

#textBox {
    position:absolute;
    border: 2px solid;
    border-radius: 10px;
    bottom: 10%;
}

#cImage {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}