
body.trainer{
    background: url('http://samluo.weebly.com/uploads/4/4/0/7/4407542/1785255_orig.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blockFont{
    color: white;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#allContents {
    width: 100%;
}

.pokedex {
    background-color: white;
    position: absolute;
    top: 30%;
    left: 65%;
    border:2px solid;
    border-radius: 10px;
    border-color: black;

}

.pokeButton {
    color: black;
    font-weight: normal;
}
.imgClass {
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;

}

div.pokemen {
    /*font-family: 'Pokemon';*/
    border:2px dashed;
    border-radius:15px;
    overflow:hidden;
    padding: 10px;
}

div.pokemen:hover {
    background-color: rgba(153, 255, 153, .25);
}

div.pokemen:active {
    background-color: #99FF99;
}

div#positionStarters {
    position: absolute;
    bottom: 3%;
    right: 15%;
}

p#footer {
    position: fixed;
    bottom: 1%;
    left: 25%
}

li {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 10px 0 0;
}

#pokeTeam li{
    width: 15%;
}

#pokeTeam {
    border: 2px solid;
    border-radius: 7px;
}
#theRest li{
    width: 7%;
}


