/*@font-face {*/
    /*font-family: 'Pokemon';*/
    /*src: url('BACKTO1982.TTF') format('truetype');*/
    /*text-shadow: -1px -1px 2 #000,*/
    /*1px -1px 2 #000,*/
    /*-1px 1px 2 #000,*/
    /*1px 1px 2 #000;*/
    /*color: white;*/
    /*font-weight: 900;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

body.trainer{
    background-image:url('http://samluo.weebly.com/uploads/4/4/0/7/4407542/1785255_orig.png');
    background-size: 100%;
}

.blockFont{
    color: white;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pokedex {
    background-color: white;
    position: absolute;
    right: 20%;
    border:2px solid;
    border-radius: 10px;

}

.pokeButton {
    color: black;
    font-weight: normal;
}
.imgClass {
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;

}

div.pokemen {
    /*font-family: 'Pokemon';*/
    border:2px dashed;
    border-radius:15px;
    overflow:hidden;
    padding: 10px;
}

div.pokemen:hover {
    background-color: rgba(153, 255, 153, .25);
}

div.pokemen:active {
    background-color: #99FF99;
}

div#positionStarters {
    position: absolute;
    bottom: 3%;
    right: 15%;
}

p#footer {
    position: absolute;
    bottom: 1%;
}

li {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 10px 0 0;
}

#pokeTeam li{
    width: 15%;

}

#theRest li{
    width: 7%;
}


