body {
    background-image:url('http://samluo.weebly.com/uploads/4/4/0/7/4407542/1785255_orig.png');
    background-size: 100%;
}

.imgClass {
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;

}

div.pokemen {
    border:2px dashed;
    border-radius:15px;
    overflow:hidden;
    padding: 10px;
}

div.pokemen:hover {
    background-color: rgba(153, 255, 153, .25);
}

div.pokemen:active {
    background-color: #99FF99;
}

div#positionStarters {
    position: absolute;
    bottom: 3%;
    right: 15%;
}

